html,
body {
  margin: 0;
  padding: 0;
  /* max-width: max-content; */
  width: 100%;
}

body {
  padding: 20px;
}

.form-space {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.product-item {
  width: fit-content;
  padding: 0 10px;
  /* border: 1px solid black; */
  margin-right: 10px;
  cursor: pointer;
  border-bottom: 1px solid #e59285;
}

.product-item:hover {
  background-color: #e59285;
  border-radius: 15px;
  color: white;
}

.mudanza {
  width: 220px;
  height: 220px;
  padding: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.centervh {
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
}
