html,
body {
  margin: 0;
  padding: 0;
  /* max-width: max-content; */
  /* width: 595px; */
  font-size: 12px;
}

p {
  margin: 0;
}

.container3 {
  width: 300px;
  height: 200px;
  /* perspective: 500px; */
  display: flex;
  flex-wrap: wrap;
  transform: scale(0.3) rotatez(-90deg);
}

.container4 {
  width: 400px;
  height: 300px;
  /* perspective: 500px; */
  display: flex;
  flex-wrap: wrap;
  transform: scale(0.3) rotatez(-90deg);
}

.container5 {
  width: 500px;
  height: 200px;
  /* perspective: 500px; */
  display: flex;
  flex-wrap: wrap;
  transform: scale(0.3) rotatez(-90deg);
}

.cube {
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
}

.face {
  width: 100px;
  height: 100px;
  background: skyblue;
  border: 2px solid black;
  border-radius: 15px;
  position: absolute;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 2rem;
  transition: transform 500ms;
}

.face2 {
  width: 100px;
  height: 200px;
  background: skyblue;
  border: 2px solid black;
  border-radius: 15px;
  position: absolute;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 2rem;
  transition: transform 500ms;
}

.face3 {
  width: 100px;
  height: 300px;
  background: skyblue;
  border: 2px solid black;
  border-radius: 15px;
  position: absolute;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 2rem;
  transition: transform 500ms;
}

.front {
  transform: translateZ(50px);
}

.back {
  transform: translateZ(-50px) rotateY(180deg);
}

.left {
  transform: translateX(-50px) rotateY(-90deg);
}

.right {
  transform: translateX(50px) rotateY(90deg);
}

.top {
  transform: translateY(-50px) rotateX(90deg);
}

.bottom {
  transform: translateY(50px) rotateX(-90deg);
}

.cube2 {
  position: relative;
  width: 200px;
  height: 100px;
  transform-style: preserve-3d;
}

.face2 {
  width: 200px;
  height: 100px;
  background: skyblue;
  border: 2px solid black;
  border-radius: 15px;
  position: absolute;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 2rem;
  transition: transform 500ms;
}

.front2 {
  transform: translateZ(50px);
}

.back2 {
  transform: translateZ(-50px) rotateY(180deg);
}

.left2 {
  transform: translateX(-50px) rotateY(-90deg);
  width: 100px;
}

.right2 {
  transform: translateX(150px) rotateY(90deg);
  width: 100px;
}

.top2 {
  transform: translateY(-50px) rotateX(90deg);
}

.bottom2 {
  transform: translateY(50px) rotateX(-90deg);
}

.cube3 {
  position: relative;
  width: 300px;
  height: 100px;
  transform-style: preserve-3d;
}

.face3 {
  width: 300px;
  height: 100px;
  background: skyblue;
  border: 2px solid black;
  border-radius: 15px;
  position: absolute;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 2rem;
  transition: transform 500ms;
}

.front3 {
  transform: translateZ(50px);
}

.back3 {
  transform: translateZ(-50px) rotateY(180deg);
}

.left3 {
  transform: translateX(-50px) rotateY(-90deg);
  width: 100px;
}

.right3 {
  transform: translateX(250px) rotateY(90deg);
  width: 100px;
}

.top3 {
  transform: translateY(-50px) rotateX(90deg);
}

.bottom3 {
  transform: translateY(50px) rotateX(-90deg);
}

.cube:hover,
.cube2:hover,
.cube3:hover {
  /* transform: rotatex(23deg) rotateY(-10deg); */
}

@media print {
  /* style sheet for print goes here */
  .noprint {
    visibility: hidden;
  }
}

@page {
  size: auto;
  margin: 0mm;
}
